<<<<<<< HEAD
<Auto deleted by WebMatrix>
=======
﻿@{
    Page.Title = "Spar energi med en gryde fra Divide";

    
   
   var db = Database.Open("divide");
    
   // var besparelsesProcent = 0;
   var totalMessage = "din besparelse er blabla%";

    if(IsPost) {

        // Retrieve what the user entered.
   //     var antalPersoner = Request["nrOfPersons"];

   //     if(antalPersoner == "1person") {

   //         besparelsesProcent = 50;
   //     } else if(antalPersoner == "2persons") {
            
   //         besparelsesProcent = 40;
   //     } else if(antalPersoner == "3persons") {
            
   //        besparelsesProcent = 30;
   //     }

        var antalPersoner = Request["nrOfPersons"].AsInt();
        var besparelse = db.QuerySingle("SELECT * FROM BESPARELSE WHERE antal_personer = @0", antalPersoner);

        totalMessage = "din besparelse er " + besparelse.besparelses_procent + "%";
    }
}


    <div class="row-fluid">
        <img src="http://divide.dk/img/index/slider/sample-img/free-slider-img2.png" width="100%" alt="some_text"> 
        <div class="row-fluid" >
            <iframe align="left" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
            <iframe align="center" width="30%" src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
            <iframe align="right" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
            <form action="" method="POST" id="calculator">
                <label>Energiberegner</label>
                <p > <select name="nrOfPersons" style="width: 30%">
                        <option value="1">1 person</option>
                        <option value="2">2 persons</option>
                        <option value="3">3+ persons</option>
                     </select> </p>
		        <p > <button type="submit">Beregn</button> </p>
                <p > <label>@totalMessage</label> </p>
            </form>
            <img src="img/IEB.png" width="100%" align="center" alt="some_text">
            <img src="img/Arg1.png" align="left" width="45%" alt="some_text">
    		<img src="img/Arg2.png" align="right" width="45%" alt="some_text">        
      </div><!--/row-->

      <hr>

      <footer>
          <p>&copy; Førsteårsprojekt - prototype 1.0.0</p>
      </footer>

    </div><!--/.fluid-container-->
>>>>>>> 16339b9b05b2974e3cd85703c457fefee627d8c6
