@{
    Page.Title = "Spar energi med en gryde fra Divide";

    var db = Database.Open("divide");
    var antalPersoner = 0;
    var Message = "din besparelse er 0%";

    if(IsPost) {

        antalPersoner = Request["nrOfPersons"].AsInt();
        var besparelse = db.QuerySingle("SELECT * FROM BESPARELSE WHERE antal_personer = @0", antalPersoner);

        Message = "din besparelse er " + besparelse.besparelses_procent + "%";
    }
}

    <div class="default_padding">
        <img src="Images/free-slider-img2.png" width="100%" alt="some_text">
    </div> 
    <div class="default_padding">
        <iframe align="left" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
        <iframe align="center" width="30%" src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
        <iframe align="right" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="calculatorback">
        <form action="" method="POST" id="calculator">
            <label>Energibesparelse</label>
            <p > <select name="nrOfPersons" style="width: 20%">
                    @{if (antalPersoner == 1) {<option value="1" selected="selected">1 person</option>}
                        else {<option value="1">1 person</option>}}
                    @{if (antalPersoner == 2) {<option value="2" selected="selected">2 personer</option>}
                        else {<option value="2">2 personer</option>}}
                    @{if (antalPersoner == 3) {<option value="3" selected="selected">3 personer</option>}
                        else {<option value="3">3 personer</option>}}
                  </select> </p>
		    <p > <button type="submit">Beregn</button> </p>
            <p > <label>@Message</label> </p>
        </form>
    </div>
    <div style="padding-bottom: 10px; padding-top: 10px">
        <img src="img/Arg1.png" align="left" width="45%" alt="some_text">
    	<img src="img/Arg2.png" align="right" width="45%" alt="some_text">        
    </div>

    <hr>

    <footer>
        <p>&copy; Førsteårsprojekt - prototype 1.0.0</p>
    </footer>
