@{
    Page.Title = "Spar energi med en gryde fra Divide";

    
   
   var db = Database.Open("bakery");
   var products = db.Query("SELECT * FROM PRODUCTS").ToList();
   var featured = products[new Random().Next(products.Count)];
}

 <div id="container">
  
    <div id="maincontent">
    <div class="row-fluid">
        <img src="http://divide.dk/img/index/slider/sample-img/free-slider-img2.png" width="100%" alt="some_text"> 
        <div class="row-fluid" >
<<<<<<< HEAD
        <iframe align="left" width="30%"  src="https://www.facebook.com/photo.php?v=4904975938171" frameborder="0" allowfullscreen></iframe>
        <iframe align="center" width="30%" src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
        <iframe align="right" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
        <label>Energiberegner </label>
		<img src="img/IEB.png" width="100%" align="center" alt="some_text">
        <img src="img/Arg1.png" align="left" width="45%" alt="some_text">
		<img src="img/Arg2.png" align="right" width="45%" alt="some_text">
                
=======
            <iframe align="left" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
            <iframe align="center" width="30%" src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
            <iframe align="right" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
            <label>Energiberegner</label>
		    <img src="img/IEB.png" width="100%" align="center" alt="some_text">
            <img src="img/Arg1.png" align="left" width="45%" alt="some_text">
    		<img src="img/Arg2.png" align="right" width="45%" alt="some_text">        
>>>>>>> cf0d376ed8c2bccdcefbbe807e25d07c8e0abb74
      </div><!--/row-->

      <hr>

      <footer>
          <p>&copy; Førsteårsprojekt - prototype 1.0.0</p>
      </footer>

    </div><!--/.fluid-container-->
    <div style="height:12580px;background:#333;"></div>
    </div>    
    <div style="height:100px;background:#ccc;"></div>  
</div>