#likebox-wrapper * {
   width: 100% !important;
}

#page {
    padding: 10px;
    width: auto;
    margin: auto;
    position: relative;
    height: auto;
    text-align: center;
}

#header_left {
    position: fixed;
    z-index: 1;
    width: 20%;
}

#header_left img {
    margin-left: auto;
    margin-right: auto;
    max-height: 25%;
    display: inline;
}

#header_left a p {
    position: absolute;
    text-align: center;
    color: #000;
    text-decoration: none;
    z-index: 1;
}

#maincontent {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#header_right {
    position: fixed;
    z-index: 1;
    width: 20%;
    text-align: right;
    right: 0;
}